<div id="msger"></div>
<div class="">
	<form>
		<fieldset>
			<legend class="alert alert-success">您好：{{}}，请选择您本周的羽毛球计划：</legend>
			<label>Label name</label>
			<label class="">
				<input type="checkbox"> Check me out
			</label>
			<label class="checkbox">
				<input type="checkbox"> Check me out
			</label>
			<label class="checkbox">
				<input type="checkbox"> Check me out
			</label>
			<label class="checkbox">
				<input type="checkbox"> Check me out
			</label>
			<label class="checkbox checked" for="checkbox2">
				<span class="icons"><span
						class="first-icon fui-checkbox-unchecked"></span><span
						class="second-icon fui-checkbox-checked"></span></span><input
					type="checkbox" checked="checked" value="" id="checkbox2"
					data-toggle="checkbox">
				Checked
			</label>
		</fieldset>
	</form>
</div>