/*-----------------global start-----------------*/
body {
	font-family: "georgia","Lato", sans-serif;
	font-size: 15px;
}

.navbar .nav > li > a {
	font-size: 17px;
}
/*-----------------global end-----------------*/
/*-----------------header start-----------------*/
.navbar .siteTitle {
	text-decoration: none;
}
/*-----------------header end-----------------*/
/*-----------------choose user start-----------------*/
.user-name {
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	height: 36px;
	line-height: 36px;
}
/*-----------------photoviewer end-----------------*/